#btn-flower {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  margin: 20px;
}

#frog {
  margin: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(43, 255, 0);
}
.buyFrog {
  padding: 10px;
}
