#btn-flower {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  margin: 20px;
}

#frog {
  margin: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(43, 255, 0);
}
.buyFrog {
  padding: 10px;
}

.shop-container {
  width: 300px;
  height: 100%;
  padding: 15px;
  border: 1px solid red;
  .container-object-current {
    height: 100px;
    width: 100%;
    border: 1px solid red;
    margin: 10px;
    display: flex;

    .object-current {
      height: 80px;
      width: 80px;
      border: 1px solid black;
      border-radius: 100px;
    }
  }
}
.items-container {
  padding: 10px;
  border: 1px solid green;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
}
#btn-buy {
  padding: 10px;
  border: 1px yellow;
}
.btn-display {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  margin: 0 auto;
  text-align: center;
}
