#btn-flower {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  margin: 20px;
}

#frog {
  margin: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(43, 255, 0);
}

.buyFrog {
  padding: 10px;
}

.shop-container {
  width: 300px;
  height: 100%;
  padding: 15px;
  border: 1px solid red;
}
.shop-container .container-object-current {
  height: 100px;
  width: 100%;
  border: 1px solid red;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop-container .container-object-current .object-current {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 100px;
}

.items-container {
  padding: 10px;
  border: 1px solid green;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid grey;
}

#btn-buy {
  padding: 10px;
  border: 1px yellow;
}

.btn-display {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  margin: 0 auto;
  text-align: center;
}

.container-pets {
  position: relative;
  width: 350px;
  height: 350px;
  border: 1px solid black;
  overflow: hidden;
}
.container-pets .pets {
  top: 0;
  left: 0;
  background: rgb(180, 180, 180);
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0px 500px 500px 500px;
}
.container-pets .pets2 {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50px 0px 200px 0px;
  -webkit-transform: translateX(37%) translateY(-11%) rotate(45deg);
          transform: translateX(37%) translateY(-11%) rotate(45deg);
  height: 200px;
  width: 200px;
}
.container-pets .frog,
.container-pets .cat,
.container-pets .dragon {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(86, 86, 86);
  -webkit-transform: translateX(75%) translateY(55%);
          transform: translateX(75%) translateY(55%);
  height: 140px;
  border-radius: 100px;
}
.container-pets .container-items-frog,
.container-pets .container-items-cat,
.container-pets .container-items-dragon {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  -webkit-transform: translateX(8%);
          transform: translateX(8%);
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
.container-pets .container-items-frog .items-frog,
.container-pets .container-items-frog .items-cat,
.container-pets .container-items-frog .items-dragon,
.container-pets .container-items-cat .items-frog,
.container-pets .container-items-cat .items-cat,
.container-pets .container-items-cat .items-dragon,
.container-pets .container-items-dragon .items-frog,
.container-pets .container-items-dragon .items-cat,
.container-pets .container-items-dragon .items-dragon {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 100px;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog .hover-items-frog,
.container-pets .container-items-frog .items-frog .hover-items-cat,
.container-pets .container-items-frog .items-frog .hover-items-dragon,
.container-pets .container-items-frog .items-cat .hover-items-frog,
.container-pets .container-items-frog .items-cat .hover-items-cat,
.container-pets .container-items-frog .items-cat .hover-items-dragon,
.container-pets .container-items-frog .items-dragon .hover-items-frog,
.container-pets .container-items-frog .items-dragon .hover-items-cat,
.container-pets .container-items-frog .items-dragon .hover-items-dragon,
.container-pets .container-items-cat .items-frog .hover-items-frog,
.container-pets .container-items-cat .items-frog .hover-items-cat,
.container-pets .container-items-cat .items-frog .hover-items-dragon,
.container-pets .container-items-cat .items-cat .hover-items-frog,
.container-pets .container-items-cat .items-cat .hover-items-cat,
.container-pets .container-items-cat .items-cat .hover-items-dragon,
.container-pets .container-items-cat .items-dragon .hover-items-frog,
.container-pets .container-items-cat .items-dragon .hover-items-cat,
.container-pets .container-items-cat .items-dragon .hover-items-dragon,
.container-pets .container-items-dragon .items-frog .hover-items-frog,
.container-pets .container-items-dragon .items-frog .hover-items-cat,
.container-pets .container-items-dragon .items-frog .hover-items-dragon,
.container-pets .container-items-dragon .items-cat .hover-items-frog,
.container-pets .container-items-dragon .items-cat .hover-items-cat,
.container-pets .container-items-dragon .items-cat .hover-items-dragon,
.container-pets .container-items-dragon .items-dragon .hover-items-frog,
.container-pets .container-items-dragon .items-dragon .hover-items-cat,
.container-pets .container-items-dragon .items-dragon .hover-items-dragon {
  position: absolute;
  height: 60px;
  width: 130px;
  background: rgb(255, 255, 255);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  border-radius: 3px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.container-pets .container-items-frog .items-frog:hover,
.container-pets .container-items-frog .items-cat:hover,
.container-pets .container-items-frog .items-dragon:hover,
.container-pets .container-items-cat .items-frog:hover,
.container-pets .container-items-cat .items-cat:hover,
.container-pets .container-items-cat .items-dragon:hover,
.container-pets .container-items-dragon .items-frog:hover,
.container-pets .container-items-dragon .items-cat:hover,
.container-pets .container-items-dragon .items-dragon:hover {
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog:hover .hover-items-frog,
.container-pets .container-items-frog .items-frog:hover .hover-items-cat,
.container-pets .container-items-frog .items-frog:hover .hover-items-dragon,
.container-pets .container-items-frog .items-cat:hover .hover-items-frog,
.container-pets .container-items-frog .items-cat:hover .hover-items-cat,
.container-pets .container-items-frog .items-cat:hover .hover-items-dragon,
.container-pets .container-items-frog .items-dragon:hover .hover-items-frog,
.container-pets .container-items-frog .items-dragon:hover .hover-items-cat,
.container-pets .container-items-frog .items-dragon:hover .hover-items-dragon,
.container-pets .container-items-cat .items-frog:hover .hover-items-frog,
.container-pets .container-items-cat .items-frog:hover .hover-items-cat,
.container-pets .container-items-cat .items-frog:hover .hover-items-dragon,
.container-pets .container-items-cat .items-cat:hover .hover-items-frog,
.container-pets .container-items-cat .items-cat:hover .hover-items-cat,
.container-pets .container-items-cat .items-cat:hover .hover-items-dragon,
.container-pets .container-items-cat .items-dragon:hover .hover-items-frog,
.container-pets .container-items-cat .items-dragon:hover .hover-items-cat,
.container-pets .container-items-cat .items-dragon:hover .hover-items-dragon,
.container-pets .container-items-dragon .items-frog:hover .hover-items-frog,
.container-pets .container-items-dragon .items-frog:hover .hover-items-cat,
.container-pets .container-items-dragon .items-frog:hover .hover-items-dragon,
.container-pets .container-items-dragon .items-cat:hover .hover-items-frog,
.container-pets .container-items-dragon .items-cat:hover .hover-items-cat,
.container-pets .container-items-dragon .items-cat:hover .hover-items-dragon,
.container-pets .container-items-dragon .items-dragon:hover .hover-items-frog,
.container-pets .container-items-dragon .items-dragon:hover .hover-items-cat,
.container-pets .container-items-dragon .items-dragon:hover .hover-items-dragon {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.container-pets .container-items-frog .items-frog:nth-child(1),
.container-pets .container-items-frog .items-cat:nth-child(1),
.container-pets .container-items-frog .items-dragon:nth-child(1),
.container-pets .container-items-cat .items-frog:nth-child(1),
.container-pets .container-items-cat .items-cat:nth-child(1),
.container-pets .container-items-cat .items-dragon:nth-child(1),
.container-pets .container-items-dragon .items-frog:nth-child(1),
.container-pets .container-items-dragon .items-cat:nth-child(1),
.container-pets .container-items-dragon .items-dragon:nth-child(1) {
  -webkit-transform: translate(0%, 140%);
          transform: translate(0%, 140%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog:nth-child(2),
.container-pets .container-items-frog .items-cat:nth-child(2),
.container-pets .container-items-frog .items-dragon:nth-child(2),
.container-pets .container-items-cat .items-frog:nth-child(2),
.container-pets .container-items-cat .items-cat:nth-child(2),
.container-pets .container-items-cat .items-dragon:nth-child(2),
.container-pets .container-items-dragon .items-frog:nth-child(2),
.container-pets .container-items-dragon .items-cat:nth-child(2),
.container-pets .container-items-dragon .items-dragon:nth-child(2) {
  -webkit-transform: translate(40%, 235%);
          transform: translate(40%, 235%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog:nth-child(3),
.container-pets .container-items-frog .items-cat:nth-child(3),
.container-pets .container-items-frog .items-dragon:nth-child(3),
.container-pets .container-items-cat .items-frog:nth-child(3),
.container-pets .container-items-cat .items-cat:nth-child(3),
.container-pets .container-items-cat .items-dragon:nth-child(3),
.container-pets .container-items-dragon .items-frog:nth-child(3),
.container-pets .container-items-dragon .items-cat:nth-child(3),
.container-pets .container-items-dragon .items-dragon:nth-child(3) {
  -webkit-transform: translate(137%, 275%);
          transform: translate(137%, 275%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog:nth-child(4),
.container-pets .container-items-frog .items-cat:nth-child(4),
.container-pets .container-items-frog .items-dragon:nth-child(4),
.container-pets .container-items-cat .items-frog:nth-child(4),
.container-pets .container-items-cat .items-cat:nth-child(4),
.container-pets .container-items-cat .items-dragon:nth-child(4),
.container-pets .container-items-dragon .items-frog:nth-child(4),
.container-pets .container-items-dragon .items-cat:nth-child(4),
.container-pets .container-items-dragon .items-dragon:nth-child(4) {
  -webkit-transform: translate(235%, 235%);
          transform: translate(235%, 235%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.container-pets .container-items-frog .items-frog:nth-child(5),
.container-pets .container-items-frog .items-cat:nth-child(5),
.container-pets .container-items-frog .items-dragon:nth-child(5),
.container-pets .container-items-cat .items-frog:nth-child(5),
.container-pets .container-items-cat .items-cat:nth-child(5),
.container-pets .container-items-cat .items-dragon:nth-child(5),
.container-pets .container-items-dragon .items-frog:nth-child(5),
.container-pets .container-items-dragon .items-cat:nth-child(5),
.container-pets .container-items-dragon .items-dragon:nth-child(5) {
  -webkit-transform: translate(275%, 140%);
          transform: translate(275%, 140%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}/*# sourceMappingURL=index.css.map */